.product {
  text-align: center;
  margin: $grid-gutter-width-base/2 0;

  &-actions {
    padding: 0 20px;
    text-align: right;

    .love, .loved {
      @extend .fa;
      padding: 10px;
      margin: 0 -10px;
      font-size: $font-size-lg;
      cursor: pointer;
    }

    .love {
      @extend .fa-heart-o;
      color: $gray-light;
    }

    .loved {
      @extend .fa-heart;
      color: $pink;
    }
  }

  &-view {
    height: 150px;
    padding: 10px 20px;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &-info {
    padding: 10px 20px;
  }

  &-title {
    margin-bottom: 0;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
    color: $gray-light;
    @include ellipsis();
  }

  &-description {
    font-size: $font-size-xs;
    color: $gray-light;
  }

  &-price {
    font-weight: $font-weight-bold;
    color: $gray-light;

    .price-old {
      display: inline-block;
      margin: 0 .5rem;
      color: lighten($gray-light, 30);
      //font-weight: $font-weight-normal;
      text-decoration: line-through;
    }
  }
}
