.product {
  text-align: center;
  margin: $grid-gutter-width-base/2 0;

  &-view {
    height: 150px;
    padding: 20px;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &-title {
    font-size: 1.2rem;
  }

  &-description {
    font-size: 0.8rem;
    color: $gray-light;
  }

  &-price {
    font-weight: bold;
    color: $gray;
  }
}

